* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-weight: bold;
  font-size: 35px;
  padding: 10px 10px 10px 30px;
}

.nav > .nav-links {
  display: flex;
  align-items: center;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > div {
  display: flex;
  align-items: center;
  padding: 25px 40px 13px 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 540;
  color: grey;
}

.nav > .nav-links > div > img {
  padding-bottom: 7px;
  width: 50px;
  height: 50px;
}
